<mat-toolbar class="top-bar" [ngClass]="{'push-off-left': sidebarState === 'open'}">
  <app-toggle-sidebar></app-toggle-sidebar>
  <app-button type="golden-rose" class="align-right">Premium</app-button>
  <!-- <app-button type="blue-icon">
    <mat-icon>search</mat-icon>
    <span>Szukaj dotacji</span>
  </app-button>
  <app-button type="golden-icon">
    <mat-icon svgIcon="subscription-calendar"></mat-icon>
    <span>Subskrybuj</span>
  </app-button>
  <app-button type="light-blue">FAQ</app-button> -->

</mat-toolbar>
