<div class="login-wrapper">
    <form class="login-form">
      <mat-icon class="settings-icon material-symbols-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="bookmark"></mat-icon>
      <h5 class="main-heading">BookMarks</h5>
      <div class="data-div">
        <mat-card class="mat-card">
            <mat-card-content>
              <div class="text-div">
                <h5>Lorem ipsum text tom check full paragraph....</h5>
                <p>Accent fish lorem ipsum check</p>
              </div>
              <div class="icon-div">
                <p>Accent fish lorem ipsum check</p>
                <div class="icon-right-div">
                    <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                <mat-icon
                  class="bookmark-icon"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="bookmark"
                ></mat-icon>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card">
            <mat-card-content>
              <div class="text-div">
                <h5>Lorem ipsum text tom check full paragraph....</h5>
                <p>Accent fish lorem ipsum check</p>
              </div>
              <div class="icon-div">
                <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
                <mat-icon
                  class="bookmark-icon"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="bookmark"
                ></mat-icon>
              </div>
            </mat-card-content>
          </mat-card>
      </div>

    </form>
  </div>
  