.title {
  flex: 1 1 auto;
  text-align: center;
}

.bottom-bar {
  background-color: #fff;
  padding: 36px 48px 12px 28px;
  height: 100px;
  transition: padding-left 0.1s ease; /* Define the transition property */
  bottom: 0;
  margin-top: auto;
  position: fixed;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
//   margin-left: -100px;
}

.push-off-left {
  padding-left: 17px;
}

.align-right {
  margin-left: auto;
}
.left-div {
    display: flex;
    align-items: center;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
        color: #00164E;
        &.active {
            border-bottom: 1px solid #EDC200;
        }
    }
    h6 {
        color: #00164E;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin-left: 30px;
    }
}
.right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    h5 {
        font-size: 16px;
        line-height: 26px;
        color: #00164e;
        margin: 0;
        margin-top: 20px;
        margin-left: 10px;
        font-weight: 400;
        margin-bottom: 20px;
      }
}

@media (max-width: 767px) {
  .bottom-bar {
    padding: 36px 12px 20px 20px;
  }
  .left-div {
    order: 2;
    flex-direction: column;
    align-items: flex-start !important;
    h6 {
        margin-left: 0 !important;
    }
  }
  .right-div {
    order: 1;
  }
  .bottom-bar {
    height: auto !important;
    position: fixed !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
