<div class="login-wrapper">
    <form class="login-form">
      <mat-icon
        class="settings-icon material-icons-outlined"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="help"
      ></mat-icon>
      <h5 class="main-heading">Account / Subskrypcja</h5>
      <div class="data-div">
        <button type="submit" mat-raised-button class="btn btn-primary-add btn-sm btn-block">
            Dodaj formę płatności
            <mat-icon
              style="font-size: 16px; width: 18px; height: 18px;float: right;display: flex;"
              class="settings-icon material-icons-outlined"
              color="red"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="add"
            ></mat-icon>
          </button>
          <div class="data-div">
            <div class="item-div">
                <img src="../../../../assets/card.png" alt=""/>
                <div class="right-div">
                    <h6 class="title">Numer:</h6>
                    <p class="sub-title">**** **** **** 5729</p>
                    <button type="submit" mat-raised-button class="btn btn-primary-new btn-sm btn-block">
                        <mat-icon
                          style="font-size: 16px; width: 18px; height: 18px"
                          class="settings-icon material-icons-outlined"
                          color="red"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="credit_card_off"
                        ></mat-icon>
                        Usuń kartę
                      </button>
                </div>
            </div>
            <div class="item-div">
                <img src="../../../../assets/card.png" alt=""/>
                <div class="right-div">
                    <h6 class="title">Numer:</h6>
                    <p class="sub-title">**** **** **** 5729</p>
                    <button type="submit" mat-raised-button class="btn btn-primary-new btn-sm btn-block">
                        <mat-icon
                          style="font-size: 16px; width: 18px; height: 18px"
                          class="settings-icon material-icons-outlined"
                          color="red"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="credit_card_off"
                        ></mat-icon>
                        Usuń kartę
                      </button>
                </div>
            </div>
          </div>
        
      </div>
    </form>
  </div>
  