.main-wrapper {
  display: flex;
  //   align-items: flex-start;
  //   justify-content: center;
  //   height: calc(100vh - 100px);
  // width: calc(100vw - 150px);

  .left-box {
    width: 70%;
    padding: 10px;
    .left-side-main-div {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
    .mat-card {
      border-radius: 15px;
      max-width: 300px;
      img {
        width: 100%;
        height: 150px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
      mat-card-content {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 300px;
      }
      .location-icon {
        color: #00164e;
      }
      .inside-div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
        .checklist {
          margin-left: 10px;
        }
        .icon-div {
          display: flex;
          .share-icon,
          .bookmark-icon {
            margin-left: 20px;
          }
          .bookmark-icon {
            color: #edc200;
          }
        }
        .text-div {
          margin-left: 10px;
          h5 {
            margin: 0;
            margin-top: 10px;
            color: #3457be;
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap; /* Prevents text from wrapping to the next line */
            overflow: hidden; /* Hides any content that overflows the container */
            text-overflow: ellipsis;
            max-width: 95%;
          }
          p {
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
          }
        }
        .icon-text-main-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 92%;
        }
        .icon-text-div {
          display: flex;
          align-items: center;
          margin-right: 10px;
          mat-icon {
            color: #004f58;
          }
          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #00228a;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .right-box {
    width: 30%;
    padding: 20px;
    .title-text {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 0;
      font-weight: 400;
      margin-top: 20px;
      color: #00164e;
      text-align: center;
      // white-space: nowrap; /* Prevents text from wrapping to the next line */
      // overflow: hidden; /* Hides any content that overflows the container */
      // text-overflow: ellipsis;
    }
    .subtitle-text {
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 16px;
      font-weight: 400;
      margin: 0;
      margin-top: 15px;
      color: #00164e;
    }
    .description {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 12px;
      margin: 0;
      margin-top: 15px;
      color: #00164e;
    }
    .right-side-div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 500px;
      .right-image {
        width: 160px;
        height: 150px;
        background-repeat: no-repeat;
        border-radius: 30%;
        margin-left: auto;
        margin-right: auto;
      }
      .btn-primary-new {
        background-color: #3457be;
        border: 1px solid #3457be;
        border-radius: 25px;
        color: #fff;
        padding: 20px 30px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .bottom-div {
        display: flex;
        align-items: center;
        .subtitle-text {
          margin-top: 0px;
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }
  }
}

.mat-mdc-standard-chip.mat-primary,
.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
  background: #f7f2fa;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  .mdc-evolution-chip__action {
    background-color: #00164e;
  }
  .mdc-evolution-chip__text-label {
    color: #49454f;
  }
}
.top-div {
  margin-left: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h5 {
    font-size: 22px;
    line-height: 26px;
    color: #00164e;
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .main-wrapper {
    flex-direction: column;
  }
  .top-div {
    justify-content: center !important;
    align-items: center !important;
  }
  .left-box {
    width: 100% !important;
    order: 2;
  }
  .right-box {
    width: 100% !important;
    order: 1;
    .subtitle-text {
      max-width: 90%;
    }
  }
  .left-side-main-div {
    align-items: center;
    justify-content: center;
  }
  .mat-card {
    width: 400px;
    max-width: 400px !important;
    mat-card-content {
      width: 400px !important;
    }
  }
}

@media (max-width: 767px) {
  .main-wrapper {
    flex-wrap: wrap;
  }
  .left-box {
    width: 100% !important;
    order: 2;
  }
  .mat-card {
    width: unset;
    max-width: 95% !important;
    mat-card-content {
      width: 100% !important;
    }
  }
  .right-box {
    order: 1;
    width: 100% !important;
    display: flex !important;
    .right-side-div {
        height: auto !important;
    }
  }
}
