<div class="login-wrapper">
    <form class="login-form">
      <mat-icon class="settings-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
      <h5 class="main-heading">Account / User Settings</h5>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>cancel</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
      <h6 class="title">Zgody:</h6>
      <div>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="primary" selected>Accent fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Save</button>
      <h6 class="title-sub">Zgoda marketingowa:</h6>
      <mat-checkbox class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
      <h6 class="title-sub">Zgoda inna:</h6>
      <mat-checkbox class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
      <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Register</button>
    </form>
  </div>  