<mat-toolbar class="bottom-mobile-bar">
  <div>
    <mat-icon svgIcon="double-circles-icon" class="home-icon"></mat-icon>
    <h5>Best for you</h5>
  </div>
  <div>
    <mat-icon
      style="font-size: 16px; width: 18px; height: 18px"
      class="bookmark-icon material-icons-outlined"
      color="red"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="bookmark"
    ></mat-icon>
    <h5>Bookmarks</h5>
  </div>
  <div>
    <mat-icon
      style="font-size: 16px; width: 18px; height: 18px"
      class="settings-icon material-icons-outlined"
      color="red"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="account_circle"
    ></mat-icon>
    <h5>Account</h5>
  </div>
</mat-toolbar>
