.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-list {
    flex: 1;
    justify-content: normal;
  }

  .label {
    margin: 0;
    color: var(--material-theme-sys-light-on-secondary-container, #231b00);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  .counter {
    position: absolute;
    right: 18px;
  }
}
::ng-deep {
  .mdc-list-item:hover::before {
    background-color: transparent !important;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }
}
.custom-header {
  padding: 0px 20px !important;
  border-radius: 40px;
  &.mat-expanded {
    background-color: #E8DEF8 !important;
  }
}
::ng-deep .mat-expanison {
  width: 100%;
  padding: 5px 6px !important;
  .mdc-list-item__content,.mdc-list-item__primary-text {
    width: 100%;
  }
}
.mat-expansion-panel {
  width: 100%;
}

@media (max-width: 767px) {
  .sidebar_menu {
    width: 100% !important;
  }
}

::ng-deep {
  .custom-header {
    .mat-expansion-indicator {
      display: none !important;
    }
  }
}