<div class="main-wrapper">
  <div class="left-box">
    <div class="top-div">
      <mat-icon svgIcon="double-circles-icon" class="home-icon"></mat-icon>
      <h5>Best for you</h5>
    </div>
    <div class="left-side-main-div">
      <!-- <ngx-masonry [options]="myOptions" [ordered]="true" class="grid">
        ngxMasonryItem
      </ngx-masonry> -->
      <mat-card  class="mat-card grid-item">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="location-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item grid-item--width2">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item grid-item--width2">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card grid-item">
        <mat-card-content>
          <img src="../../assets/product-detail-right.png" alt="" />
          <div class="inside-div">
            <div class="text-div">
              <h5>Lorem ipsum text tom check full paragraph....</h5>
              <p>Accent fish lorem ipsum check</p>
            </div>
            <div class="icon-text-main-div">
                <div class="icon-text-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="location_on"
                    ></mat-icon>
                    <p>Accent fish lorem</p>
                  </div>
                  <div class="icon-div">
                    <mat-icon
                      class="share-icon material-icons-outlined"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="share"
                    ></mat-icon>
                    <mat-icon
                      class="bookmark-icon"
                      aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="bookmark"
                    ></mat-icon>
                  </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="right-box">
    <app-bookmarks [inline]="1"></app-bookmarks>
  </div>
</div>
