<div class="home-container"></div>
<div class="content">
  <div class="main-header">
    <div class="main-header__wrapper">
      <mat-icon svgIcon="double-circles-icon" class="home-icon"></mat-icon>
      <span>GrantsFinder.eu</span>
      <div class="main-header__sub">GrantsFinder.eu</div>
    </div>
  </div>

  <div class="sides-container">
    <div class="sides-container__content">
      <h2>Załóż konto</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
        consectetur.
      </p>
      <app-button type="blue-icon">
        <mat-icon fontSet="material-icons">account_circle</mat-icon>
        <span>Szukaj dotacji</span>
      </app-button>
    </div>

    <div class="sides-container__image">
      <img src="../../assets/home/files.png" alt="" />
    </div>
  </div>

  <div class="sides-container">
    <div class="sides-container__image">
      <img src="../../assets/home/search-glass.png" alt="" />
    </div>
    <div class="sides-container__content">
      <h2>Znajdź dotację dla siebie</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
        consectetur.
      </p>
      <app-button type="blue-icon">
        <mat-icon fontSet="material-icons">search</mat-icon>
        <span>Szukaj dotacji</span>
      </app-button>
    </div>
  </div>

  <div class="sides-container">
    <div class="sides-container__content">
      <h2>Otrzymaj grant!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
        consectetur.
      </p>
    </div>

    <div class="sides-container__image">
      <img src="../../assets/home/goblet.png" alt="" />
    </div>
  </div>
  <div class="dotations-description">
    <h2 class="dotations-description__header">Czym są dotacje?</h2>
    <div class="dotations-description__wrapper">
      <div class="dotations-description__wrapper__content">
        <p>
          Dotacje unijne są środkami finansowymi udzielanymi przez Unię Europejską w celu wspierania różnych dziedzin i
          projektów w krajach członkowskich. Przeznaczone są na rozwój gospodarczy, innowacje, ochronę środowiska,
          edukację oraz wiele innych obszarów. Mają za zadanie zwiększyć konkurencyjność regionów oraz poprawić warunki
          życia obywateli. Dotacje te są ważnym narzędziem wspierającym wzrost i harmonijny rozwój państw członkowskich
          Unii Europejskiej.
        </p>
        <p>
          Dotacje unijne stanowią istotny element finansowania różnorodnych inicjatyw, zarówno publicznych jak i
          prywatnych, poprzez przyznanie środków na realizację konkretnych celów. Proces ubiegania się o te środki
          wymaga zazwyczaj spełnienia określonych warunków oraz przygotowania szczegółowego planu projektu, który ma
          zostać sfinansowany. Dzięki dotacjom unijnym wiele przedsięwzięć może zostać zrealizowanych, wspierając w ten
          sposób rozwój społeczny, gospodarczy i infrastrukturalny w krajach UE.
        </p>
      </div>

      <div class="dotations-description__wrapper__icons-list">
        <img src="../../assets/home/icon-list-6.png" alt="" />
        <img src="../../assets/home/icon-list-5.png" alt="" />
        <img src="../../assets/home/icon-list-4.png" alt="" />
        <img src="../../assets/home/icon-list-3.png" alt="" />
        <img src="../../assets/home/icon-list-2.png" alt="" />
        <img src="../../assets/home/icon-list-1.png" alt="" />
      </div>
    </div>
  </div>
  <div class="register">
    <div class="register__hero-image">
      <img src="../../assets/home/goblet.png" alt="" />
    </div>

    <div class="register__first-row">
      <h2>Kup subskrypcję i znajdź grant</h2>
      <p>Lorem ipsum dolor sit amet consectetu, ipsum dolor sit amet consectetur.</p>
    </div>

    <div class="register__second-row">
      <app-button type="golden-icon">
        <mat-icon svgIcon="subscription-calendar"></mat-icon>
        <span>Subskrybuj</span>
      </app-button>
      <app-button type="blue-icon">
        <mat-icon>search</mat-icon>
        <span>Zarejestruj się</span>
      </app-button>
    </div>

    <div class="register__third-row">
      <mat-icon>add_card</mat-icon>
      <span>Dodaj kartę płatniczą</span>
    </div>
  </div>

  <div class="faq-button"><app-button type="light-blue">FAQ</app-button></div>
</div>
