<div class="login-wrapper">
    <form class="login-form">
      <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
      <h5 class="main-heading">Account / User Settings</h5>
      <div class="data-div">

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Placeholder" />
        <mat-icon class="material-icons-outlined" matSuffix>cancel</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Placeholder" />
        <mat-icon class="material-icons-outlined" matSuffix>cancel</mat-icon>
      </mat-form-field>
      <h6 class="title">Twoje filtry:</h6>
      <div>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option color="primary">Duża firma</mat-chip-option>
          <mat-chip-option color="primary">Rybak</mat-chip-option>
          <mat-chip-option color="primary">Accent fish</mat-chip-option>
          <mat-chip-option color="primary">Sektor małych i średnich przedsiębiorstw</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Save</button>
      <h6 class="title-sub">Zgoda:</h6>
      <div class="list-main-div">
        <div class="list-div">
          <h6>Zgoda marketingowa:</h6>
          <p>W skrócie zgoda na co</p>
          <div class="icon-div">
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
          </div>
        </div>
        <div class="list-div">
          <h6>Zgoda marketingowa:</h6>
          <p>W skrócie zgoda na co</p>
          <div class="icon-div">
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="link"></mat-icon>
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
          </div>
        </div>
      </div>
      <h6 class="title-sub-new">Zgoda:</h6>
      <button type="submit" mat-raised-button class="btn btn-primary-new btn-sm btn-block">Register</button>
      <mat-divider class="divider-class"></mat-divider>
      </div>
    </form>
  </div>  