<div class="main-wrapper">
  <div class="left-box">
    <div>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option>One fish</mat-chip-option>
        <mat-chip-option>Two fish</mat-chip-option>
        <mat-chip-option color="primary" selected>Accent fish</mat-chip-option>
        <mat-chip-option color="warn">Warn fish</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="left-side-fields">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>cancel</mat-icon>
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input type="text" matInput placeholder="Placeholder" />
          <mat-icon matSuffix>cancel</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input type="text" matInput placeholder="Placeholder" />
          <mat-icon matSuffix>cancel</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-card class="mat-card">
        <mat-card-content>
          <img src="../../assets/home/files.png" alt="" />
          <div class="text-div">
            <h5>Lorem ipsum text tom check full paragraph....</h5>
            <p>Accent fish lorem ipsum check</p>
          </div>
          <div class="icon-div">
            <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
            <mat-icon
              class="bookmark-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="bookmark"
            ></mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card">
        <mat-card-content>
          <img src="../../assets/home/files.png" alt="" />
          <div class="text-div">
            <h5>Lorem ipsum text tom check full paragraph....</h5>
            <p>Accent fish lorem ipsum check</p>
          </div>
          <div class="icon-div">
            <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
            <mat-icon
              class="bookmark-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="bookmark"
            ></mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card">
        <mat-card-content>
          <img src="../../assets/home/files.png" alt="" />
          <div class="text-div">
            <h5>Lorem ipsum text tom check full paragraph....</h5>
            <p>Accent fish lorem ipsum check</p>
          </div>
          <div class="icon-div">
            <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
            <mat-icon
              class="bookmark-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="bookmark"
            ></mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="right-box">
    <mat-card class="mat-card">
      <mat-card-content>
        <img src="../../assets/home/icon-list-5.png" alt="" />
        <div class="inside-div">
          <mat-chip-listbox class="checklist" aria-label="Fish selection">
            <mat-chip-option color="primary" selected>Accent fish</mat-chip-option>
          </mat-chip-listbox>
          <div class="icon-div">
            <mat-icon class="share-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="share"></mat-icon>
            <mat-icon
              class="bookmark-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="bookmark"
            ></mat-icon>
          </div>
          <div class="text-div">
            <h5>Lorem ipsum text tom check full paragraph....</h5>
            <p>Accent fish lorem ipsum check</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
        <h5 class="title-text">
            System zachęt do podejmowania i kontynuowania studiów na wybranych kierunkach medycznych oraz podjęcia zatrudnienia w zawodzie
        </h5>
        <h6 class="subtitle-text">
            D2.1.1. Inwestycje związane z modernizacją i doposażeniem obiektów dydaktycznych w związku ze zwiększeniem limitów przyjęć na studia medyczne, Krajowy Plan Odbudowy
        </h6>
        <p class="description">
            Wsparcie w ramach Działania 3 Systemu zachęt można otrzymać na podejmowanie i kontynuowanie studiów I stopnia (dopłata do czesnego) na kierunkach medycznych: pielęgniarstwo, położnictwo, ratownictwo medyczne.
        </p>
    </div>
  </div>
</div>
