.login-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    // height: 100vh;
    // width: calc(100vw - 150px);
    .login-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        .settings-icon {
            font-size: 30px;
            width: 40px;
            height: 40px;
        }
        .main-heading {
            font-size: 22px;
            font-weight: 400;
            margin: 10px 0px 20px 0px;
            color: #00164E;
            letter-spacing: 1px;
            line-height: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        mat-form-field {
            width: 350px;
            margin-bottom: 5px;
        }
        .btn-primary {
            background-color: #000;
            color: #fff;
            border-radius: 20px;
            padding: 20px 30px;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }
        .signup-link {
            font-size: 14px;
            letter-spacing: 1px;
            margin: 20px 10px;
            color: #00164E;
            font-weight: 500;
            line-height: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            a {
                font-weight: 500;
                color: #3457BE;
            }
        }
        .data-div {
            width: 100%;
            mat-form-field {
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px){
    .login-form {
        width: 100% !important;
        .data-div {
            width: 95% !important;
        }
    }
}