<div class="login-wrapper">
    <form class="login-form">
      <!-- <mat-icon class="settings-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon> -->
      <h5 class="main-heading">Register Form</h5>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>cancel</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Placeholder" />
        <mat-icon matSuffix>visibility</mat-icon>
      </mat-form-field>
      <h6 class="signup-link">Already have an account? <a>Login Now</a></h6>
      <h6 class="title">Zgody:</h6>
      <h6 class="title-sub">Zgoda marketingowa:</h6>
      <mat-checkbox class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
      <h6 class="title-sub">Zgoda inna:</h6>
      <mat-checkbox class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
      <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Register</button>
    </form>
  </div>  