.login-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 100px);
    // width: calc(100vw - 105px);
    overflow: auto;
    .login-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        // padding-top: 10px;
        .home-icon {
            margin-left: auto;
            margin-right: auto;
        }
        .main-heading {
            font-size: 22px;
            font-weight: 400;
            margin: 10px 0px 20px 0px;
            color: #00164E;
            letter-spacing: 1px;
            line-height: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        mat-form-field {
            width: 350px;
        }
        .btn-primary {
            background-color: #000;
            color: #fff;
            border-radius: 20px;
            padding: 20px 30px;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }
        .signup-link {
            font-size: 14px;
            letter-spacing: 1px;
            margin: 20px 10px;
            color: #00164E;
            font-weight: 500;
            line-height: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            a {
                font-weight: 500;
                color: #3457BE;
            }
        }
        .title {
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 1px;
            // margin: 20px 10px;
            color: #484848;
            line-height: 28px;
            margin: 1px 0px 10px 0px;
        }
        .title-sub {
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            margin: 10px 0px;
        }
        ::ng-deep {
            .example-checkbox {
                // width: 320px;
                width: 90%;
                font-size: 12px;
                .mdc-form-field > label {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #030303;
                }
            }
        }
        .list-main-div {
            width: 100%;
        }
        
        .list-div {
            margin-bottom: 10px;
            .inner-div {
                display: flex;
                align-items: flex-start;
                mat-icon {
                    width: 30px;
                    height: 30px;
                    font-size: 24px;
                }
            }
        }
        .data-div {
            width: 40%;
            mat-form-field {
                width: 100%;
            }
        }
    }
    
}

@media (max-width: 767px){
    .login-form {
        width: 100% !important;
        .data-div {
            width: 95% !important;
        }
    }
}