<div class="login-wrapper">
    <form class="login-form">
      <mat-icon
        class="settings-icon material-icons-outlined"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="help"
      ></mat-icon>
      <h5 class="main-heading">Account / Subskrypcja</h5>
      <div class="data-div">
        <h6 class="title ">Twoje subskrypcja::</h6>
        <mat-button-toggle-group class="toggle-button" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle checked value="bold">Bold</mat-button-toggle>
          <mat-button-toggle value="italic">Italic</mat-button-toggle>
        </mat-button-toggle-group>
        <h6 class="title title1">Zgody:</h6>
      <div class="list-main-div">
        <div class="list-div">
          <h6 class="title-sub">Zgoda marketingowa:</h6>
          <div class="inner-div">
            <mat-checkbox class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="help"></mat-icon>
          </div>
        </div>
        <div class="list-div">
          <h6 class="title-sub">Zgoda marketingowa:</h6>
          <div class="inner-div">
            <mat-checkbox color="#6750A4" class="example-checkbox">Lorem ipsum dolor sit amet consectetur. Phasellus enim quam eu pellentesque fringilla eu gravida. Sit felis tristique rhoncus iaculis. Egestas id vel auctor id. Faucibus non fringilla cras feugiat sed interdum.</mat-checkbox>
            <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="help"></mat-icon>
          </div>
        </div>
      </div>
      <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Kupuję</button>

      </div>
    </form>
  </div>
  