<div class="login-wrapper">
  <form class="login-form">
    <mat-icon class="settings-icon material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
    <h5 class="main-heading">Login Form</h5>
    <div class="data-div">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Placeholder" />
      <mat-icon class="material-icons-outlined" matSuffix>cancel</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Placeholder" />
      <mat-icon class="material-icons-outlined" matSuffix>visibility</mat-icon>
    </mat-form-field>
    <h6 class="signup-link">Don't have account? <a>Signup Now</a></h6>
    <button type="submit" mat-raised-button class="btn btn-primary btn-sm btn-block">Login</button>
    </div>
  </form>
</div>
