// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import './shared/global.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}



// Angular Material Design

.mat-mdc-text-field-wrapper.mdc-text-field {
  background-color: #E6E0E9 !important;
}
.mat-form-field-color .mat-mdc-text-field-wrapper.mdc-text-field {
  background-color: unset !important;
}
.mat-mdc-select-panel {
  background-color: #F3EDF7 !important;
  padding: 0px !important;
}
.mat-form-field-color .mat-mdc-select-panel {
  background-color: unset !important;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  color: #49454F !important;
}
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #6750A4 !important;
  background-color: #6750A4 !important;
}

.cdk-overlay-container {
  z-index: 10000000 !important;
}

.mat-expansion-panel-header.mat-expanded:focus {
  outline: none !important; /* Remove default focus outline */
  background-color: #e0e0e0 !important; /* Change the background color when focused */
}

.mat-expansion-panel-header {
  background-color: transparent !important; /* Remove highlight color */
}
.mat-mdc-list-item .mat-ripple-element{
  background-color: transparent !important;
}