.toggle-sidebar {
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
  align-items: center;
}

.home-icon {
  margin-left: 16px;
}

.home-link {
  color: var(--material-theme-sys-light-on-primary-fixed, #00164e);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 80% */
  text-decoration: none;
}
