<div class="main-wrapper">
    <div class="left-box">
        <div class="top-div">
            <mat-icon svgIcon="double-circles-icon" class="home-icon"></mat-icon>
            <h5>Best for you</h5>
        </div>
      <div class="left-side-main-div">
        <ngx-masonry class="masonry-container">
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="location-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card masonry-item">
            <mat-card-content>
              <img src="../../assets/product-detail-right.png" alt="" />
              <div class="inside-div">
                <div class="text-div">
                  <h5>Lorem ipsum text tom check full paragraph....</h5>
                  <p>Accent fish lorem ipsum check</p>
                </div>
                <div class="icon-text-main-div">
                    <div class="icon-text-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="location_on"
                        ></mat-icon>
                        <p>Accent fish lorem</p>
                      </div>
                      <div class="icon-div">
                        <mat-icon
                          class="share-icon material-icons-outlined"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="share"
                        ></mat-icon>
                        <mat-icon
                          class="bookmark-icon"
                          aria-hidden="false"
                          aria-label="Example home icon"
                          fontIcon="bookmark"
                        ></mat-icon>
                      </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ngx-masonry>
      </div>
    </div>
    <div class="right-box">
        <div class="right-side-div">
            <img class="right-image" src="../../../assets/goblet.png" alt=""/>
            <h5 class="title-text">
                Kup subskrypcję <br/>i znajdź grant
            </h5>
            <p class="subtitle-text">Lorem ipsum dolor sit amet consectetu, ipsum dolor sit amet consectetur.</p>

            <button type="submit" mat-raised-button class="btn btn-primary-new btn-sm btn-block">
                <mat-icon
                  style="font-size: 20px; width: 20px; height: 20px"
                  class="settings-icon material-icons-outlined"
                  color="red"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="today"
                ></mat-icon>
                Subskrybuj
              </button>
              <div class="bottom-div">
                <mat-icon
                style="font-size: 20ox; width: 20ox; height: 20px"
                class="settings-icon material-icons-outlined"
                color="red"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="account_balance_wallet"
              ></mat-icon>
              <p class="subtitle-text">Lorem ipsum dolor sit amet consectetur.</p>
              </div>
        </div>
    </div>
  </div>
  